<ion-header>
  <ion-navbar>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Посещаемость</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content no-padding>
    <ion-grid>
      <ion-row *ngIf="isCreate">
        <ion-col width-50 center>Записей не найдено</ion-col>
        <ion-col width-50>
          <ion-buttons right>
            <button ion-button clear (click)="loadClassList()">Создать</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isCreate">
        <ion-col width-50 center>{{localeDate}}</ion-col>
        <ion-col width-50>
          <ion-buttons right>
            <button ion-button icon-only clear (click)="setEdit()" color="energized" *ngIf="isSave">
              <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only clear (click)="saveAttend()" color="secondary">
              <svg style="min-width: 28px;" viewBox="0 0 24 24">
                <path fill="#32db64" d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z" />
              </svg>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  </ion-card>
  <ion-list *ngIf="!isCreate">
    <ion-list-header no-margin><h2>Отсутствуют</h2></ion-list-header>
    <ion-item *ngFor="let out of outClass; let i = index" (click)="selectItem(out)" padding-right>
      {{i+1}}) {{out.lastName}} {{out.firstName}}
    </ion-item>
    <span *ngIf="isEdit">
      <ion-list-header no-margin><h2>Присутствуют</h2></ion-list-header>
      <ion-item *ngFor="let in of inClass; let i = index" (click)="returnItem(in)" padding-right>
        {{i+1}}) {{in.lastName}} {{in.firstName}}
      </ion-item>
    </span>
  </ion-list>
</ion-content>
