<ion-header>
  <ion-navbar>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Посещаемость</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col width-67 center>Записей не найдено</ion-col>
        <ion-col width-33>
          <ion-buttons right>
            <button ion-button clear (click)="loadData()">Создать</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-buttons left>
              <button ion-button clear (click)="setEdit()" color="yellow">Редактировать</button>
            </ion-buttons>
          </ion-col>
          <ion-col width-50>
            <ion-buttons right>
              <button ion-button clear (click)="saveAttend()" color="secondary">Сохранить</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header><h1>Отсутствуют</h1></ion-list-header>
    <ion-item *ngFor="let out of outClass; let i = index" (click)="selectItem(out)">
      {{i+1}}){{out.lastName}} {{out.firstName}}
    </ion-item>
    <span *ngIf="isEdit">
      <ion-list-header><h1>Присутствуют</h1></ion-list-header>
      <ion-item *ngFor="let in of inClass; let i = index" (click)="returnItem(in)">
        {{i+1}}){{in.lastName}} {{in.firstName}}
      </ion-item>
    </span>
  </ion-list>
</ion-content>
