<ion-header>
  <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Список класса</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngIf="classList">
      <ion-item *ngFor ="let names of classList.pupil; let i = index" (click)="edit(names)">
       {{i+1}}) {{names.lastName}} {{names.firstName}}
      </ion-item>
  </ion-list>

</ion-content>
